<form action="" method=POST>{% csrf_token %}
<div class="form__group form__group">
    <label for="username">Username</label>
    <input id="username" value="" name="username" type="text" placeholder="e.g. amannazario" /> 
</div>
<div class="form__group">
    <label for="password">Password</label>
    <input                                                                                               
      id="password"                                                      
      name="password"
      type="password"
      placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
    />

<input type=submit id="signup" value="LOG IN">
</form>